p, h1 {
    text-align: center;
}

li:hover {
    background-color: green;
}

li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ol, ul {
    list-style: none;
}